body {
    background: #dfedd3;
    box-sizing: border-box;
    color: #333;
    font-family: 'Tahoma', sans-serif; margin: 0;
    font-size: 18px;
    padding: 0;
    text-align: center;
}

h2 {
    background: #c9baa3;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #555;
    color: #4b5b48;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    font-style: italic;
    max-width: 400px;
    margin: 10px auto;
    padding-bottom: 10px;
}

.wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

section#carousel > figure > img {
    display: none;
    margin: 0;
}

section#carousel > figure.visible > img {
    border-radius: 5px;
    box-shadow: 5px 5px 3px #555;
    display: block;
    margin: 0 auto;
    max-height: 600px;
    max-width: 320px;
    overflow: hidden;
    position: relative;
}

section#carousel > figure > figcaption {
    display: none;
}

section#carousel > figure.visible > figcaption {
    display: block;
    font-size: 1.2em;
    margin-top: 1em;
    text-align: center;
}